<div class="home-container">
  <header class="app-header">
    <div class="header-content">
      <span class="logo-text">PrepView</span>
      <nav class="nav">
        <span>Interview Prep</span>
        <span>Projects</span>
        <span>Coding Challenges</span>
        <span>Blog</span>
        <span>Courses</span>
        <span>Login</span>
      </nav>
    </div>
  </header>

  <!-- Center -->
  <div class="center-logo">
    <h1>PrepView</h1>
    <p>Learn • Practice • Succeed</p>
  </div>

  <!-- Random tech logos -->
  <img class="tech t1" src="/assets/images/angular1.png" alt="angular">
  <img class="tech t2" src="/assets/images/react.png" alt="react">
  <img class="tech t3" src="/assets/images/java.png" alt="java">
  <img class="tech t4" src="/assets/images/nodejs.png" alt="nodejs">
  <img class="tech t5" src="/assets/images/vuejs.png" alt="vuejs">
  <img class="tech t6" src="/assets/images/expressjs.png" alt="expressjs">
  <img class="tech t7" src="/assets/images/python.svg" alt="Python">
  <img class="tech t8" src="/assets/images/javascript.svg" alt="javaScript">
  <img class="tech t9" src="/assets/images/aws.svg" alt="aws">
  <img class="tech t10" src="/assets/images/docker.png" alt="docker">
  <img class="tech t11" src="/assets/images/html.svg" alt="html">
  <img class="tech t12" src="/assets/images/css.png" alt="css">
  <img class="tech t13" src="/assets/images/kubernetes.svg" alt="kubernetes">
  <img class="tech t14" src="/assets/images/mysql.svg" alt="mysql">
  <img class="tech t15" src="/assets/images/bootstrap.png" alt="bootstrap">
  <img class="tech t16" src="/assets/images/azure.png" alt="azure">
  <img class="tech t17" src="/assets/images/salesforce.svg" alt="salesforce">
  <img class="tech t18" src="/assets/images/mongoDB.png" alt="mongoDB">
  <img class="tech t19" src="/assets/images/jquery.png" alt="jquery">
  <img class="tech t20" src="/assets/images/.net.svg" alt="c#">
  <img class="tech t21" src="/assets/images/primeNG.png" alt="primeNG">
  <img class="tech t22" src="/assets/images/oracle.svg" alt="oracle">
  <img class="tech t23" src="/assets/images/openshift.svg" alt="openshift">
  <img class="tech t24" src="/assets/images/DSA.png" alt="dsa">
  <img class="tech t25" src="/assets/images/git.svg" alt="git">
  <img class="tech t26" src="/assets/images/django.png" alt="django">
  <img class="tech t27" src="/assets/images/postsql.png" alt="postgresql">
  <img class="tech t28" src="/assets/images/c++.png">


    <!-- FOOTER -->
  <footer class="app-footer">
    <span>© 2026 PrepView</span>
    <span>Built with ❤️ for learners</span>
  </footer>
</div>
