.home-container {
  position: relative;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(135deg, #0b3c6f, #1f9d6e);
}

/* CENTER BRAND */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #fff;
}

.center-logo h1 {
  font-size: 3.4rem;
  margin: 0;
}

.center-logo p {
  margin-top: 0.5rem;
  font-weight: 300;
}

/* COMMON TECH STYLE */
.tech {
  position: absolute;
  width: 52px;
  height: 52px;
  object-fit: contain;
  opacity: 0.75;
  filter: drop-shadow(0 6px 12px rgba(0,0,0,.35));
  animation: float 7s ease-in-out infinite;
}

/* DEPTH VARIATION */
.tech.front {
  width: 64px;
  opacity: 0.95;
  animation-duration: 6s;
}

.tech.back {
  width: 44px;
  opacity: 0.45;
  animation-duration: 9s;
}

/* RANDOM BUT BALANCED POSITIONS (20 logos) */
.t1  { top: 8%;  left: 10%; }
.t2  { top: 7%; right: 6%; }
.t3  { top: 28%; left: 4%; }
.t4  { top: 28%; right: 10%; }
.t5  { top: 50%; left: 11%; }
.t6  { top: 70%; right: 42%; }
.t7  { top: 51%; left: 30%; }
.t8  { top: 51%; right: 31%; }
.t9  { top: 8%;  left: 45%; }
.t10 { bottom: 6%; left: 12%; }

.t11 { top: 28%; left: 53%; }
.t12 { top: 28%; right: 59%; }
.t13 { bottom: 22%; left: 4%; }
.t14 { bottom: 7%; right: 31%; }
.t15 { top: 28%; left: 22%; }
.t16 { top: 8%; right: 36%; }
.t17 { top: 8%; left: 29%; }
.t18 { bottom: 22%; right: 72%; }
.t19 { top: 70%; left:  42%; }
.t20 { bottom: 6%; right:63%; }
.t21 {top: 7%; right: 20%;}
.t22  { top: 28%; right: 26%; }
.t23  { top: 51%; right: 16%; }
.t24 {top: 70%; right:26%;}
.t25 { bottom: 8%; right:16%;}
.t26  { top: 51%; right: 1%; }
.t27 {top: 70%; right:8%;}
.t28 { bottom: 8%; right:1%;}
/* FLOATING ANIMATION */
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-14px); }
  100% { transform: translateY(0); }
}
